h2 {
  margin-bottom: 5px;
}

input {
  width: 100px;
}

.hidden {
  display: none;
}

#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

#iframe-elem {
  width: calc(0.46 * 85vh);
  height: 85vh;
  /* width: 312px; */
  /* height: 675px; */
}

#editor-menu {
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
}

.editor {
  width: 40vw;
  height: 31vh;
  border: 1px solid grey;
}

/* タブ切り替え機能 */

/* 
.is-active.dark {
}
.is-active.light {
}
.is-inactive.dark {
}
.is-inactive.light{
}

.tab-button {
  background-color: #ddd;
  border: 1px solid gray;
  cursor: pointer;
  outline: none;
  padding: 0 10px;
  appearance: none;
}

.tab-button.active-dark {
  background-color: #1e1e1e;
  color: #fff;
}

.tab-button.active-light {
  background-color: #fffffe;
  color: #000;
} 
*/

#preview-box {
  width: 22vw;
}
