h1 {
  text-align: center;
}
p {
  text-align: center;
}
#omikuji {
  background-color: lightgray;
}
#daikichi {
  display: none;
  background-color: lightpink;
}
#kichi {
  display: none;
  background-color: lightgreen;
}
#kyou {
  display: none;
  background-color: lightblue;
}
.omikuji-elements {
  margin: 10px auto;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  font-size: 36px;
  font-weight: bold;
}

#button-box {
  text-align: center;
}
