#omikuji_daimei {
  /* この中で「omikuji_daimei」の見た目を調整 */
  text-align: center; /* 文字等を中央揃え */
}
#omikuji_shoukai {
  /* この中で「omikuji_shoukai」の見た目を調整 */
  text-align: center; /* 文字等を中央揃え */
}
#omikuji_start {
  /* この中で「omikuji_start」の見た目を調整 */
  margin: 10px auto; /* 上下に10px, 左右に自動の幅をとる */
  width: 200px; /* 横の長さ */
  height: 200px; /* 縦の長さ */
  text-align: center; /* 文字等を中央揃え */
  line-height: 200px; /* 行間を200pxに設定して上下中央揃え */
  background-color: lightgray; /* 背景の色 */
}
#daikichi {
  /* この中で「daikichi」の見た目を調整 */
  margin: 10px auto; /* 上下に10px, 左右に自動の幅をとる */
  width: 200px; /* 横の長さ */
  height: 200px; /* 縦の長さ */
  text-align: center; /* 文字等を中央揃え */
  line-height: 200px; /* 行間を200pxに設定して上下中央揃え */
  font-weight: bold; /* 文字を太字にする */
  font-size: xx-large; /* 文字を大きくする */
  background-color: lightpink; /* 背景の色 */
}
#kichi {
  /* この中で「kichi」の見た目を調整 */
  margin: 10px auto; /* 上下に10px, 左右に自動の幅をとる */
  width: 200px; /* 横の長さ */
  height: 200px; /* 縦の長さ */
  text-align: center; /* 文字等を中央揃え */
  line-height: 200px; /* 行間を200pxに設定して上下中央揃え */
  font-weight: bold; /* 文字を太字にする */
  font-size: xx-large; /* 文字を大きくする */
  background-color: lightgreen; /* 背景の色 */
}
#kyou {
  /* この中で「kyou」の見た目を調整 */
  margin: 10px auto; /* 上下に10px, 左右に自動の幅をとる */
  width: 200px; /* 横の長さ */
  height: 200px; /* 縦の長さ */
  text-align: center; /* 文字等を中央揃え */
  line-height: 200px; /* 行間を200pxに設定して上下中央揃え */
  font-weight: bold; /* 文字を太字にする */
  font-size: xx-large; /* 文字を大きくする */
  background-color: lightblue; /* 背景の色 */
}
#button_box {
  text-align: center; /* 文字等を中央揃え */
}
